script/index2.js
script/index.js
script/PRUEBAS.js
script/script2.js
script/script3.js
script/script4.js
script/script5.js

index.html
index2.html
block.md
index.txt
index2.txt
styles/style.css
indexPrueba.html
gatito.webp
gato.jpg
index2.txt
real_1.jpeg
real_2.jpeg
